Flask==2.2.2
yahoo_oauth==1.1
yahoo_fantasy_api==2.6.0
gunicorn==20.0.4
flask-cors==3.0.10
psycopg2-binary==2.8.4
Flask-SQLAlchemy==3.0.2
Flask-Migrate==2.5.2
Flask-Caching==2.0.2
bs4==0.0.1
lxml==4.9.1
scipy==1.5.4
